!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= data.page.title || "SET YOUR SITE NAME"
    %meta{:content => data.page.description || "SET YOUR SITE DESCRIPTION", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    = javascript_include_tag "/js/vendor/modernizr-2.6.1.min"
    = stylesheet_link_tag "all"
  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    %header
    %div{:role => "main", :class => "main"}= yield
    %footer
    
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')
    = javascript_include_tag "all"
    
    :javascript
      window.jQuery || document.write('<\/script>')
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
